$primary: #111e64;
$primaryDark: #07124B;
$primaryDarker: #02092E;
$primaryLight: #55b3fd;
$primaryLighter: #6dcff6;
$primaryLightest: #aed0ec;
$secondary: #f9ce43;
$secondaryDark:#ECB913;
$grey: #f7f7f7;
$white: #ffffff;