.site-application {
    position: relative;
    background: $primary;
    color: #ccc;
    text-align: center;
    padding: 2.5rem 0;

    p {
        margin-bottom: 2rem;
    }

    @mixin atMedium {
        background: $primary;
        color: #ccc;
        padding: 4.5rem 0;
        text-align: left;
    }

    @mixin atLarge {
        background-image: linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(17,30,100,1) 100%);
        color: $primaryDark;
    }
}